/*
Theme Name: Vysual HTML
Theme URI: http://themolitor.com/vysual_html
Description: Premium theme developed by Christopher Molitor.
Author: Christopher Molitor
Author URI: http://themolitor.com/
Version: 1.0.0
*/


/*--------------------------------*/
/* -----RESET + TRANSITIONS----- */
/*------------------------------*/
* {
	padding: 0; 
	margin: 0; 
	line-height: 1.6em;
	/*--COLOR ANIMATIONS--*/
 	-webkit-transition:background-color 0.30s linear, border-color 0.30s linear, color 0.30s linear, outline-color 0.30s linear; 
 	-moz-transition:background-color 0.30s linear, border-color 0.30s linear, color 0.30s linear, outline-color 0.30s linear; 
 	-o-transition:background-color 0.30s linear, border-color 0.30s linear, color 0.30s linear, outline-color 0.30s linear; 
 	transition:background-color 0.30s linear, border-color 0.30s linear, color 0.30s linear, outline-color 0.30s linear;  
 	/*IE SCROLL STYLE*/
 	-ms-overflow-style: -ms-autohiding-scrollbar;
}


/*------------------------------*/
/* -----GENERAL TAG STUFF----- */
/*----------------------------*/
code {
	font:1.1em 'Courier New', 'Courier', fixed;
}
acronym,
abbr,
span.caps {
	font-size:90%;
	letter-spacing:.07em;
	cursor:help;
}
acronym.abbr {
	border-bottom:1px dashed rgba(255,255,255,.75);
}
blockquote {
	border-left: 5px solid rgba(255,255,255,.75);
    display: inline-block;
    position: relative;
    margin: 1em 0 1em 15px;
    padding: 0 0 0 25px;
}
blockquote cite {
	display:block;
	margin:5px 0 0;
}
hr {
	display:none;
}
pre {
	max-width: 100%;
	padding: .5em;
	overflow: auto;
	margin-bottom: 1em;
	background: rgba(255,255,255,.1);
}
table {
  border-collapse: collapse;
  margin-bottom: 1em;
}
th {
	background: rgba(255,255,255,.05);
	font-size: 90%;
	text-transform: uppercase;
}
td, th {
  border: 1px solid rgba(255,255,255,.1);
  padding: 0.5rem;
  text-align: left;
  font-weight: normal;
}
tr:nth-child(odd) {
	background:rgba(255,255,255,.05)
}
dl {
	border: 1px solid rgba(255,255,255,.1);
  	padding: 0.5rem;
  	margin-bottom: 1em;
}
dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
}
dt:hover {
	overflow: visible;
}
dt:after {
	content: ":";
}
dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
}
address {
	margin-bottom: 1em;
}


/*--------------------------------*/
/* -----GENERAL CLASS STUFF----- */
/*------------------------------*/
.alignright {
	float:right;
}
.alignleft {
	float:left;
}
.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}
.center {
	text-align:center;
}
.clear {
	clear: both;
}
.clearfix:after,
.clearfix:before { 
   content: "";
   position: relative; 
   display: block; 
   clear: both;
}
.error {
	color: red;
}

.overflow-scroll {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*------------------------------*/
/* -----HTML + BODY STUFF----- */
/*----------------------------*/
html {
	-webkit-text-size-adjust: 100%;
	height: 100%;
	position: relative;
	
  	
}
body {
	height:100%; 
	width:auto;
	font-size: 12px;
	color: #999;
	color: rgba(255,255,255,.5);
	font-family: "Open Sans", sans-serif;
	background-color: #191919;
}

#page-info {display: none;}


/*-------------------------------------*/
/*--SCROLLBAR STYLES FOR WEBKIT ONLY--*/
/*-----------------------------------*/
body.windowsOs *::-webkit-scrollbar {
    width: 5px;
}
body.windowsOs *::-webkit-scrollbar:horizontal {
    height: 5px;
}
body.windowsOs *::-webkit-scrollbar-track { 
    background: none;
}
body.windowsOs *::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,.15); 
}
body.windowsOs *::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.5); 
}


/*------------------------*/
/* -----A TAG STUFF----- */
/*----------------------*/
a {
	text-decoration:none; 
	color:inherit; 
	position: relative;
	/*color: #fff;*/
	color: #FFDD17; /*change for icon social*/
}
a:hover {
	text-decoration:none; 
}


/*--------------------------*/
/* -----IMG TAG STUFF----- */
/*------------------------*/
img {
	max-width: 100%; 
	height: auto;
}
img.aligncenter {
	display:block;
	margin-left:auto; 
	margin-right:auto; 
	margin-bottom: 10px;
}
img.alignright {
	display:inline;
	margin:0 0 10px 10px;
}
img.alignleft {
	display:inline;
	margin:0 10px 10px 0;
}
img#wpstats {
	width:0;
	height:0;
	border:none;
	display: block;
	overflow:hidden;
}
.entry img {
	vertical-align:text-bottom; 
}


/*------------------------*/
/* -----H TAG STUFF----- */
/*----------------------*/
h1,h1 a,h1 a:visited,
h2,h2 a,h2 a:visited,
h3,h3 a,h3 a:visited,
h4,h4 a,h4 a:visited,
h5,h5 a,h5 a:visited,
h6,h6 a,h6 a:visited {
	font-weight: lighter;
	border: none;
	color: #fafafa;
}
h1 a,
h1 a:visited,
h2 a,
h2 a:visited,
h3 a,
h3 a:visited,
h4 a,
h4 a:visited,
h5 a,
h5 a:visited,
h6 a,
h6 a:visited {
	text-decoration:none; 
	border: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration:none;
}

.error-404 {
    display: block;
    height: 40px;
    left: 0;
    line-height: 40px;
    margin: -20px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 98;
}


/*------------------------------------*/
/*---------CONTAINER STUFF-----------*/
/*----------------------------------*/
#contentContainer {
	width:100%; 
	height: 100%;
	position: relative;
	z-index: 2;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	background-color: #191919;
}
body.full-screen-video #contentContainer {
	box-shadow: none;
}

#contentCover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.35);
	display: none;
	cursor: pointer;
	z-index: 100;
}

/*---------*/
/*--LOGO--*/
/*-------*/
#logo {
	display: inline-block; 
	z-index: 100; 
	position: relative; 
	border: none;
	max-width: 100%;
	margin: 30px 0 0 30px;
	outline: none;
	font-size: 200%;
    font-weight: lighter;
    line-height: 1em;
}
#logo:hover {
	background: none;
}
#logo img {
	display: block; 
	max-width: 100%; 
	height: auto;
	border-style:none;
}


/*-------------------------*/
/*--HEADER IMAGE STUFF----*/
/*-----------------------*/
#headerImages {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
#headerImages:after {
	content: '';
	display: block;
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	z-index:2;  
	background-color: #000;
	opacity: .35;
}
body.page-template-page-reviews #headerImages:after {
	opacity: .35;
}
body.single #headerImages:after,
body.page-template-default #headerImages:after,
body.page-template-page-center #headerImages:after,
body.category #headerImages:after,
body.blog #headerImages:after,
body.archive #headerImages:after,
body.search #headerImages:after,
.page-image-container:after {
    opacity: .8;
}


.header-image {
	display: none;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-size: cover;  
	background-position: center; 
	background-repeat: no-repeat;
}
.header-image:first-child {
	display: block;
}
.header-image.activeBg {
	z-index: 2;
}
.header-image img {
	display: none;
}
/*--VIDEO BACKGROUND--*/
.wallpaper-container {
	display: block !important;
	z-index: 2 !important;
}


/*-------------------------------------*/
/*-------MAIN NAVIGATION STUFF--------*/
/*-----------------------------------*/
#menu-control {
	color: #fff;
    font-size: 22px;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 101;
    cursor: pointer;
    display: none;
    height: 16px;
    width: 27px;
	border-top: 2px solid #fff;
 	
 	display: block;
 	
 	border: none;
 	height: 26px;
 	top: 25px;
 	outline:10px solid transparent;
 }
#menu-control span {
	height: 2px;
	width: 100%;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	background: #FFDD17; /*1*/
	margin-top: -1px; 
	
	-webkit-transition: background 0 0.3s;
          	transition: background 0 0.3s;
}
#menu-control span::before,
#menu-control span::after {
	content: '';
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background: #FFDD17; /*2*/
	display: block;
	-webkit-transition:bottom 0.30s linear,top 0.30s linear; 
 	-moz-transition:bottom 0.30s linear,top 0.30s linear; 
 	-o-transition:bottom 0.30s linear,top 0.30s linear; 
 	transition:bottom 0.30s linear,top 0.30s linear; 
 	
 	-webkit-transition-duration: 0.3s, 0.3s;
 	-moz-transition-duration: 0.3s, 0.3s;
	transition-duration: 0.3s, 0.3s;
	
  	-webkit-transition-delay: 0.3s, 0;
  	-moz-transition-delay: 0.3s, 0;
	transition-delay: 0.3s, 0;
}
#menu-control span::before {
	top: -8px;
	-webkit-transition-property: top, -webkit-transform;
	-moz-transition-property: top, -moz-transform;
	transition-property: top, transform;
}
#menu-control span::after {
	bottom: -8px;
	-webkit-transition-property: bottom, -webkit-transform;
	-moz-transition-property: bottom, -moz-transform;
	transition-property: bottom, transform;
}

/*--HOVER / ACTIVE--*/
#menu-control:hover,
body.open-sidebar #menu-control {
	background:rgba(255,255,255,.15); 
	outline-color:rgba(255,255,255,.15); 
}
body.open-sidebar #menu-control:hover {
	background:rgba(255,255,255,.25); 
	outline-color:rgba(255,255,255,.25); 
}

/*--SIDEBAR OPEN--*/
body.open-sidebar #menu-control span {
  background: none;
}
body.open-sidebar #menu-control span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
body.open-sidebar #menu-control span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body.open-sidebar #menu-control span::before,
body.open-sidebar #menu-control span::after {
  -webkit-transition-delay: 0, 0.3s;
  -moz-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}

/*--------------------------------*/
/*-----SIDEBAR/WIDGETS STUFF-----*/
/*------------------------------*/
#sidebar {
	font-size: 95%;	
	display: block;
    height: 100%;
    top: 0;
    width: 0;
    /*color: rgba(255,255,255,.3);*/
    color: #FFDD17;
    /*background-color: #191919;*/
   	background-color: #5B4025;
    right: 0;
    z-index: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
  	-webkit-overflow-scrolling: touch;
}
body.open-sidebar #sidebar {
	width: 300px;
}
#sidebar-logo {
    height: auto;
    width: 220px;
    position: relative;
    display: inline-block;
    z-index: 100;
    padding: 40px 40px 0;
    outline: none;
}
#sidebar-logo img {
	border-style:none;
}
#sidebar-widgets {
	position: relative;
    padding: 40px;
    width: 220px;
}
#sidebar-widgets .widget {
	position: relative; 
	list-style: none; 
	font-size: 12px; 
	margin:85px 0 0;
}
#sidebar-widgets .widget:first-child {
	margin: 0;
}
#sidebar-widgets .widget .widget-title {
	margin-bottom: 15px;
	font:normal 11px/1em sans-serif; 
	text-transform: uppercase;
}
#sidebar-widgets .widget ul li {list-style:none; margin-bottom: 15px;}
#sidebar-widgets .widget ul li ul li {padding: 0 0 0 5px; list-style-type:disc; list-style-position: inside;}

#sidebar-widgets p {font-size: 12px; color: rgba(255,255,255,.3); margin-bottom: 1em;}
#sidebar-widgets img {max-width: 100%;}
#sidebar-widgets a {color: rgba(255,255,255,.5);}
#sidebar-widgets a:hover {color: #fff; text-decoration: none;}

#navigation {
	position: absolute;
	top: 20px;
	right: 30px; 
	font-size: 95%;
	
	display: block;
    height: 100%;
    right: -320px;
    top: 0;
    width: 320px;
    z-index: 1001;
    position: fixed;
    
	position:relative; 
	padding: 70px 40px 40px;
	width: 220px;
	top: 0;
	right: 0;
	font-size: 100%;
	height: auto;
	z-index: 1;
}
#navigation.hasLogo {
	padding: 40px;
}
#dropmenu {
	list-style:none; 
	position:relative; 
	z-index: 400;	
}
#dropmenu li {
	list-style:none;   
	position:relative; 
	float: left; 
	margin-left: 18px;
	
	float: none;
	margin: 0;
}
#dropmenu a { 
	display: block; 
	line-height:25px; 
	border-bottom: 0px solid transparent; 
	text-transform: uppercase; 
	position: relative;
	padding: 0;
	/*color: rgba(255,255,255,.3);*/
	color: #FFDD17;
	font-weight: bold;
 	
 	line-height: 35px;
 	font-weight: lighter;
 	font-size: 14px;
 	
 	font-size: 12px;
 	line-height: 35px;
 	font-weight: normal;
}
#dropmenu li:hover > a {text-decoration: none; color: #fff;}
#dropmenu .submenu {
	display: block;
    list-style: outside none none;
    padding: 0;
    position: relative;
    width: auto;
}
#dropmenu .submenu li {
	position:relative; 
	z-index: 2; 
	display: block; 
	text-align: left;
}
#dropmenu .sub-menu a {
	display: block; 	
	left: 0;
    padding: 0 20px;
    width: auto;
}
#dropmenu .sub-menu a::before {
    content: "--";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
#dropmenu .current-menu-item > a {
	color: #fff;
	opacity: 1;
	background: rgba(255,255,255,.035);
    left: -10px;
    padding: 0 10px;
    position: relative;
    width: 100%;
}
#dropmenu .sub-menu .current-menu-item > a {
    padding: 0 20px;
    text-indent: 10px;
    width: auto;
}


/*----------------------------*/
/* -----CALENDAR WIDGET----- */
/*--------------------------*/
#wp-calendar {
	empty-cells:show; 
	width:100%;
}
#wp-calendar #prev a,
#wp-calendar #next a {
	padding-top: 10px;
}
#wp-calendar #prev a:hover,
#wp-calendar #next a:hover {
	background: none;
}
#wp-calendar #next a {
	text-align:right;
}
#wp-calendar #prev a {
	text-align:left;
}
#wp-calendar a {
	text-decoration:none;
	display:block;
}
#wp-calendar caption {
	width:100%; 
	margin-bottom: 8px; 
	text-align: left;
	font-weight: bold;
	font-size: 120%;
	padding-bottom: 5px;
	color: #000;
}
#wp-calendar th {
	font-style:normal;
	text-transform:capitalize; 
	background: none; 
	line-height: 30px; 
	text-align: center; 
	font-weight: normal;
}
#wp-calendar tbody td {
	text-align:center;
	padding:0; 
	line-height: 30px; 
	background: #eee; 
}
#wp-calendar tbody td.pad {
	background: none;
}
#wp-calendar tbody td a {
	background: #fafafa; 
	display: block; 
	line-height: 30px;
}
#wp-calendar tbody td a:hover {
	background: #fff;
}
#wp-calendar tfoot td {
	line-height: 30px;
}

/*--WIDGET PANEL CALENDAR STYLING--*/
#sidebar #wp-calendar caption {
	color: #fff;
	margin-bottom: 15px;
	font:normal 11px/1em sans-serif; 
	text-transform: uppercase;
}
#sidebar #wp-calendar th {
	color: #555;
}
#sidebar #wp-calendar tbody td {
	background: #222; 
	color: #555;
}
#sidebar #wp-calendar tbody td.pad {
	background: none;
}
#sidebar #wp-calendar tbody td a {
	background: #333; 
	color: #fff;
}
#sidebar #wp-calendar tbody td a:hover {
	background: #000;
}


/*---------------------------*/
/*-----TAG CLOUD WIDGET-----*/
/*-------------------------*/
li.widget_tag_cloud a {
	color: #fff !important; 
	background: rgba(0, 0, 0, 0.25);
	border-radius: 0;
    display: inline-block;
    font-size: 100% !important;
    line-height: 30px;
    margin-bottom: 4px;
    padding: 0 8px;
}
li.widget_tag_cloud a:hover {
	background: rgba(0, 0, 0, 0.4);
}
/*--WIDGET PANEL TAG CLOUD STYLING--*/
#sidebar li.widget_tag_cloud a {
	background: rgba(255, 255, 255, 0.1);
}

/*---------------------*/
/*-----RSS WIDGET-----*/
/*-------------------*/
.widgettitle .rsswidget:first-child {
	display: none;
}
.widget_rss .rss-date {
    display: block;
    font-family: 'georgia',serif;
    font-size: 90%;
    font-style: italic;
}
.rssSummary {
	margin-top:5px; 
	font-size: 90%;
}


/*----------------------------------*/
/*-----ARCHIVE/CATEGORY WIDGET-----*/
/*--------------------------------*/
.widget_archive li,
.widget_categories li {
	text-align: right; 
	position: relative; 
	color: #555;
}
.widget_archive li:after,
.widget_categories li:after {
	content: ''; 
	display: block; 
	clear: both;
}
.widget_archive li a,
.widget_categories li a {
	display: inline-block; 
	float: left; 
	text-align: left; 
	max-width: 90%;
}


/*----------------------------*/
/*--------AUDIO STUFF--------*/
/*--------------------------*/
#audioControl {
	position: absolute;
	bottom: 20px;
	left: 20px;
	height: 23px;
	line-height: 23px;
	display: block;
	cursor: pointer;
	z-index: 100;
	overflow: hidden;	
	width: 31px;
	border: 10px solid transparent;
}
body.mobile-device #audioControl {display: none;}
#audioControl span {
	background-color: rgba(255,255,255,.5);
  	display: inline-block;
  	width: 3px;
  	height: 8px;
  	vertical-align: bottom;
  	position: relative;
  	left: 0;
  	bottom: 0;
  	margin-left: 1px;
  	
  	background-color: #FFDD17;
}
#audioControl span:first-child {
	margin-left: 0;
}
#audioControl:hover {
	background-color: rgba(255,255,255,.15);
}
#audioControl:hover span {
	background-color: #FFDD17;
}

/*------------------------------*/
/*--------REVIEWS STUFF--------*/
/*----------------------------*/
#reviews {
	position: absolute;
	right: 30px;
	bottom: 80px;
	max-width: 100%;
	z-index: 98;
	color: rgba(255,255,255,.9);
	width: 320px;
}
#reviews:after {
	position: absolute;
	right: 0;
	bottom: -1px;
	height: 2px;
	width: 50px;
	/*background: #fafafa;*/
	background: #FFDD17;
	content: '';
}
.review {
	text-align: right;
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
}
.review:first-child {
	display: block;
}
.reviewContent {
	margin-bottom: 20px;
}
.reviewContent p {
	font-size: 150%;
	font-weight: 100;
	line-height: 1.3em;
	margin-bottom: 10px;
	
	font-size: 140%;
}
.reviewTitle {
	font-size: 90%;
	text-transform: uppercase;
	margin-bottom: 25px;
	font-weight:bold;
	
	font-size: 95%;
    font-weight: lighter;
}


/*-----------------------------*/
/*--------SEARCH STUFF--------*/
/*---------------------------*/
#full-search {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;	
	background-color: rgba(0,0,0, .8);
	background-position: center;
	background-size: cover;
}
#full-search:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.8);
}
#big-input {	
    display: block;
    font-size: 250%;
    font-weight: lighter;
    height: 50px;
    left: 0;
    line-height: 50px;
    margin: -45px auto 0;
    max-width: 60%;
    padding: 20px 40px;
    position: relative;
    top: 50%;
    width: 600px;
    outline: none;
    z-index: 1;
    background: rgba(255,255,255,.035);
    border-bottom: 2px solid #fff;
    color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}


/*-----------------------------*/
/*--------SOCIAL STUFF--------*/
/*---------------------------*/
#socialIcons {
	position: absolute;
	bottom: 30px;
	right:30px;
	z-index: 100;
}
#socialIcons a {
	display: block;
	position: relative;
	width: 28px;
	text-align: center;
	font-size: 125%;
	border-radius: 50%;
	line-height: 28px;
	z-index: 1;
	float: right;
}
#socialIcons a i {
	vertical-align: baseline;
	display: inline-block;
}
#socialIcons a:hover {
	z-index: 2;
}
#socialIcons a:before {
	position: absolute;
	content: attr(data-title);
	bottom: 90%;
	opacity: 0;
	left: 50%;
	width: 60px;
	text-align: center;
	display: block;
	height: 20px;
	line-height: 20px;
	color: #fff;
	margin: 0 0 0 -30px;
	font-size: 12px;
	
	-webkit-transition:bottom 0.30s linear, opacity 0.30s linear; 
 	-moz-transition:bottom 0.30s linear, opacity 0.30s linear;  
 	-o-transition:bottom 0.30s linear, opacity 0.30s linear;  
 	transition:bottom 0.30s linear, opacity 0.30s linear; 
 	
 	display: none;
}
#socialIcons a:hover:before {
	bottom: 105%;
	opacity: 1;
}

#socialIcons a:after {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	height: 0;
	width: 0;
	background: #FFDD17;
	border-radius: 50%;
	display: block;
	content: '';
	margin: 0;
		
	-webkit-transition:width 0.20s linear, height 0.20s linear, margin 0.20s linear; 
 	-moz-transition:width 0.20s linear, height 0.20s linear, margin 0.20s linear;  
 	-o-transition:width 0.20s linear, height 0.20s linear, margin 0.20s linear;  
 	transition:width 0.20s linear, height 0.20s linear, margin 0.20s linear;
}
#socialIcons #link-rss:after {background-color: #FB7629;}
#socialIcons #link-facebook:after {background-color: #3A5795;}
#socialIcons #link-twitter:after {background-color: #54ABEE;}
#socialIcons #link-google-plus:after {background-color: #DC4A38;}
#socialIcons #link-youtube:after {background-color: #CC181E;}
#socialIcons #link-vimeo:after {background-color: #17B3E8;}
#socialIcons #link-instagram:after {background-color: #235D83;}
#socialIcons #link-tumblr:after {background-color: #34465D;}
#socialIcons #link-flickr:after {background-color: #0063DB;}

#socialIcons a:hover:after {
	width: 34px;
	height: 34px;
	margin: -17px 0 0 -17px;
}

body.search-open #socialIcons a {
	opacity: .25;
}
body.search-open #socialIcons a:hover,
body.search-open #socialIcons #link-search {
	opacity: 1;
}

/*-----------------------------------*/
/*--------GALLERY PAGE STUFF--------*/
/*---------------------------------*/
#attachmentGallery {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.gallery-image {
	list-style: none;
	margin: 0;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-size: cover;  
	background-position: center; 
	background-repeat: no-repeat;
}
.gallery-image:after {
	content: '';
	display: block;
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	z-index:1;  
	background-color: #000;
	opacity: .35;
}
.gallery-image:first-child {
	display: block;
}
.gallery-image.activeImg {
	z-index: 2;
}
.gallery-image img {
	visibility: hidden;
}

/*--GALLERY NAVIGATION--*/
.gallery-nav {
	position: absolute;
	z-index: 100;
	top: 50%;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
	margin-top: -20px;
	cursor: pointer;
	
	top: 20%;
	width: 40%;
	height: 60%;
	margin: 0;
	z-index: 1;
}
#nextImg {
	right: 15px;
	
	right: 0;
}
#prevImg {
	left: 15px;
	
	left: 0;
}
.gallery-nav span {
    position: absolute;
    top: 50%;
    opacity: 0;
    width: 0;
    height: 0;
    
    opacity: 1;
    margin-top: -4px;
}
.gallery-nav span:before, 
.gallery-nav span:after {
	border-right: 2px solid #FFDD17;
	content: '';
	display: block;
	height: 20px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    
    height: 27px;
    margin-top: -19px;
}
/*NEXT LINK*/
#nextImg span {
	/*right: 50px;*/
	right: 40px;
	opacity: .35;

	-webkit-transition:opacity 0.30s linear, right 0.30s linear; 
 	-moz-transition:opacity 0.30s linear, right 0.30s linear; 
 	-o-transition:opacity 0.30s linear, right 0.30s linear; 
 	transition:opacity 0.30s linear, right 0.30s linear; 
}
#nextImg span:before {
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nextImg span:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nextImg:hover span {
	right: 40px;
	opacity: 1;
}
/*PREV LINK*/
#prevImg span {
	/*left: 50px;*/
	left: 40px;
	opacity: .35;
	
	-webkit-transition:opacity 0.30s linear, left 0.30s linear; 
 	-moz-transition:opacity 0.30s linear, left 0.30s linear; 
 	-o-transition:opacity 0.30s linear, left 0.30s linear; 
 	transition:opacity 0.30s linear, left 0.30s linear; 
}
#prevImg span:before {
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#prevImg span:after {
    margin-top: -1px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#prevImg:hover span {
	left: 40px;
	opacity: 1;
}

/*--GALLERY INFO--*/
#imgInfo {
	position: absolute;
	right: 30px;
	bottom: 80px;
	width: 300px;
	max-width: 100%;
	z-index: 98;
	color: #FFDD17;
	text-align: right;
	padding-bottom: 25px;
	font-weight: lighter;
	font-size: 115%;
}
#imgInfo:after {
	position: absolute;
	right: 0;
	bottom: -1px;
	height: 2px;
	width: 50px;
	background: #FFDD17;
	content: '';
}
#imgInfo h2 {
	font-size: 18px;
	font-weight: lighter;
	line-height: 1.2em;
	margin: 0;
	color: #FFDD17;
	
	font-weight: normal;
}
#imgInfo p {
	margin-top: 5px;
	color: #FFDD17;
    line-height: 1.3em;
    font-size: 95%;
    
    margin-top: 3px;
    /*color: rgba(255,255,255,.8);*/
}
#imgInfo small {
	font-size: 80%;
    line-height: 1em;
    margin-bottom: 15px;
    display: block;
}

/*---------------------------------*/
/*--------VIDEO POST STUFF--------*/
/*-------------------------------*/
.video-page-post {
	position: absolute;
	right: 30px;
	bottom: 80px;
	width: 300px;
	max-width: 100%;
	z-index: 98;
	color: #fafafa;
	text-align: right;
	padding-bottom: 25px;
	font-weight: lighter;
}
.video-page-post:after {
	position: absolute;
	right: 0;
	bottom: -1px;
	height: 2px;
	width: 50px;
	background: #fafafa;
	content: '';
}

.current-page {
	line-height: 1em;
	margin-bottom: 15px;
	font-size: 80%;
}
.current-page span {
	line-height: 1em;
}

.video-page-post .posttitle {
	font-size: 18px;
	font-weight: lighter;
	line-height: 1.2em;
	margin: 0;
	color: #fff;
	
	font-weight: normal;
}
.video-page-post .posttitle span {
	margin-left: 8px;
	font-size: 85%;
	line-height: 1em;
}
.video-content {
	margin-top: 5px;
	position: relative;
	color: rgba(255,255,255,.5);
	
	color: rgba(255,255,255,.8);
	margin-top: 3px;
	
	max-height: 105px;
	
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
}
.video-content > * {
    line-height: 1.3em;
    font-size: 95%;
}
.video-content > *:first-child {
    margin-top: 0;
}
.video-content > * {
    margin-top: 10px;
}
.video-page-post {
	font-size: 115%;
}

.post-video,
.videoLink {	
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	background: rgba(0,0,0,.2);
	border-radius: 50%;
	border: 2px solid #FFDD17;
	color: #FFDD17;
	font-size: 20px;
	text-align: center;
	text-indent: 3px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -42px 0 0 -42px;
	z-index: 98;
	/*
	border: none;
	background: rgba(0,0,0,.25);
	*/
}
.post-video img,
.videoLink img {
	max-width: 100%;
	display: block;
}
.post-video i,
.videoLink i {
	vertical-align: baseline;
	position: relative;
	top: -1px;
}
.post-video:hover,
.videoLink:hover {
	background: #FFDD17;
	color: #191919;
}

.videoContainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	display: none;
	background: rgba(0,0,0,.85);
}
.postVideo {
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
}
.closeVideo {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 26px;
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	/*border: 2px solid #fff;*/
	border: 2px solid #FFDD17;
	z-index: 100;
	/*color: #fff;*/
	color: #FFDD17;
	text-align: center;
	background: rgba(0,0,0,.35);
	cursor: pointer;
	font-weight: lighter;
}
.closeVideo:hover {
	background: #FFDD17;
	color: #191919;
	font-size: 32px;
}

.video-image-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;  
	background-position: center; 
	background-repeat: no-repeat;
	z-index: 1;
}
.video-image-container:after {
	content: '';
	display: block;
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	z-index:2;  
	background-color: #000;
	opacity: .35;
}
.video-image-container img {
	display: none;
}

/*--VIDEO NAVIGATION--*/
.pagenav {
	position: absolute;
	z-index: 100;
	top: 50%;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
	margin-top: -20px;
	
	top: 20%;
	width: 40%;
	height: 60%;
	margin: 0;
	z-index: 1;
}
#nextpage {
	right: 15px;
	
	right: 0;
}
#backpage {
	left: 15px;
	
	left: 0;
}

.pagenav span {
    position: absolute;
    top: 50%;
    opacity: 0;
    width: 0;
    height: 0;
    
    opacity: 1;
    margin-top: -4px;
}
.pagenav span:before, 
.pagenav span:after {
	border-right: 2px solid #fff;
	content: '';
	display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 26px;
    margin-top: -19px;
}
/*NEXT LINK*/
#nextpage span {
	right: 40px;
	opacity: .35;

	-webkit-transition:opacity 0.30s linear, right 0.30s linear; 
 	-moz-transition:opacity 0.30s linear, right 0.30s linear; 
 	-o-transition:opacity 0.30s linear, right 0.30s linear; 
 	transition:opacity 0.30s linear, right 0.30s linear; 
}
#nextpage span:before {
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nextpage span:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nextpage:hover span {
	right: 40px;
	opacity: 1;
}
/*PREV LINK*/
#backpage span {
	left: 40px;
	opacity: .35;
	
	-webkit-transition:opacity 0.30s linear, left 0.30s linear; 
 	-moz-transition:opacity 0.30s linear, left 0.30s linear; 
 	-o-transition:opacity 0.30s linear, left 0.30s linear; 
 	transition:opacity 0.30s linear, left 0.30s linear; 
}
#backpage span:before {
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#backpage span:after {
    margin-top: -1px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#backpage:hover span {
	left: 40px;
	opacity: 1;
}


/*------------------------------*/
/*--------ARCHIVE STUFF--------*/
/*----------------------------*/
#load-more {
    background: rgba(255, 255, 255, 0.1);
    bottom: 0;
    display: inline-block !important;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 56px;
    height: 100%;
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
}
#load-more a {
    color: rgba(255, 255, 255, 0.35);
    display: block;
    font-size: 36px;
    font-weight: lighter;
    height: 36px;
    left: auto;
    line-height: 36px;
    margin: -18px 0 0;
    position: absolute;
    right: auto;
    text-align: center;
    top: 50%;
    width: 56px;
    z-index: 1;
}
#load-more:hover {
	background: rgba(255,255,255,.15);
}
#load-more:hover a {
    color: #fff;
}
#load-more.loading a {
	-webkit-animation: rotatin 1s infinite linear;
  	animation: rotatin 1s infinite linear;
}
/*--LOADING ANIMATION STUFF--*/
@-webkit-keyframes rotatin {
  from {
  	-webkit-transform:rotate(0deg); 
  	transform:rotate(0deg);
  }  
  to { 
  	-webkit-transform: rotate(360deg);
  	transform:rotate(360deg); 
  }
}

@keyframes rotatin {
  from { 
  	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
  }
  to { 
    -ms-transform:rotate(360deg);
	transform:rotate(360deg);
  }
}

.posts-container {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	z-index: 98;
	overflow: hidden;
	font-size: 14px;
	padding: 45px 0 0;
}
.entrytitle {
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	line-height: 20px;
	position: absolute;
	top: 5px;
	left: 30px;
	color: #FFDD17;
}

.scroll-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
	overflow: hidden;
    overflow-x: auto;
  	-webkit-overflow-scrolling: touch;
}
body.windowsOs .scroll-wrapper {
	overflow: hidden;
}
body.mobile-device .scroll-wrapper {
	overflow-x: auto;
  	-webkit-overflow-scrolling: touch;
}
.scroll-this {
    white-space: nowrap;
    display: inline-block;
    padding-right: 56px;
    overflow: hidden;
    position: relative;
}
.scroll-this > div {
	display: inline-block;
	margin:0 28px 0 0;
	width: 400px;
	white-space: normal;
	vertical-align: top;
	max-height: 438px;
	position: relative;
	overflow: hidden;
	overflow-y: auto;
  	-webkit-overflow-scrolling: touch;
}
body.windowsOs .scroll-this > div {
	overflow: hidden;
}
body.windowsOs .scroll-this > div.scrolled,
body.mobile-device .scroll-this > div {
	overflow-y: auto;
  	-webkit-overflow-scrolling: touch;
}

.scroll-notice {
	font-size: 18px;
    font-weight: lighter;
    text-align: center;
    line-height: 22px;
    position: absolute;
    right: 3px;
    bottom: 3px;
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    background: #222;
    background: rgba(255,255,255,.08);
    color: #888;
    height: 22px;
    width: 22px;
}
.scroll-notice:hover {
	color: #fff;
	border-color: #fff;
	background: #555;
	background: rgba(255,255,255,.2);
}
.scroll-this > div:first-child {
	margin-left: 30px;
}
.posts-container .image-container {
	margin-bottom: 10px;
	position: relative;
}
.posts-container .postInfo {
    overflow: auto;
    padding: 0 10% 0 0;
    width: auto;
}
.postInfo .commentsLink,
.postInfo .post-edit-link,
.postInfo .post-sharing {
    font-size: 12px;
    margin-right: 10px;
}
.postInfo video,
.postInfo iframe {
    width: 100%;
}
.posts-container .post-date {
    color: #fafafa;
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.posts-container .posttitle {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.2em !important;
	margin-bottom: 10px;
}
.posts-container .page .posttitle {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.posts-container .page .posttitle:after {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 40px;
}
.format-aside .posttitle {
	font-size: 12px;
	font-weight: lighter;
	line-height: 1.8em !important;
}
.format-aside .posttitle:first-line {
	font-size: 16px;
	font-weight: 400;
}

/*--OL + UL STUFF--*/
.posts-container .postInfo ol {
	margin:0 0 1em 25px; 
	padding: 0; 
}
.posts-container .postInfo ul {
	margin:0 0 1em 20px; 
	padding: 0; 
}
.posts-container .postInfo ul li {
	padding:0; 
	list-style-position:outside; 
}
.posts-container .postInfo ol li {
	padding:0; 
	list-style-position:outside; 
}

/*-- P TAG STUFF--*/
.posts-container .postInfo p {
	margin: 0 0 1em;
	color: #FFDD17;
	opacity: 0.5;
}

/*--H TAG STUFF--*/
.posts-container .postInfo h1, 
.posts-container .postInfo h2, 
.posts-container .postInfo h3, 
.posts-container .postInfo h4,
.posts-container .postInfo h5,
.posts-container .postInfo h6 {
	margin-bottom: 10px; 
	line-height: 1.5em;
	text-transform: uppercase;
	color: #FFDD17;
}

/*--STICKY STUFF--*/
.sticky::before {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    content: "⚑";
    display: block;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 35px;
    z-index: 1;
}

/*--SLIDE NAVIGATION--*/
.slide-nav {
	position: absolute;
	display: block;
	top: 0;
	cursor: pointer;
	width: 30px;
	height: 30px;
	z-index: 1;
}
.slide-nav span {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .5;
    width: 0;
    height: 0;
    z-index: 1;
    
    -webkit-transition:opacity 0.30s linear; 
 	-moz-transition:opacity 0.30s linear; 
 	-o-transition:opacity 0.30s linear; 
 	transition:opacity 0.30s linear; 
}
.slide-nav span:before, 
.slide-nav span:after {
	/*border-right: 2px solid #fff;*/
	border-right: 2px solid #FFDD17;
	content: '';
	display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 14px;
    margin-top: -10px;
}
/*SLIDE RIGHT*/
#slide-right {
	right: 20px;
}
#slide-right span:before {
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#slide-right span:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#slide-right:hover span {
	opacity: 1;
}
/*SLIDE LEFT*/
#slide-left {	
	right: 50px;
}
#slide-left span {
    left: auto;
    right: 10px;
}
#slide-left span:before {
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#slide-left span:after {
    margin-top: -1px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#slide-left:hover span {
	opacity: 1;
}


/*----------------------------------------*/
/*--------WORDPRESS GALLERY STUFF--------*/
/*--------------------------------------*/
.gallery {
	margin-bottom: 15px !important;
}
.gallery a {
    display: block;
    position: relative;
}
.gallery a:hover:after {
    background: rgba(255, 255, 255, 0.25);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.gallery img {
    border: none !important;
    display: block;
}
.gallery .gallery-item {
    margin-right: 3.25%;
    width: 30% !important;
    border: none;
  	padding: 0;
  	margin-bottom: 0;
}
.gallery .gallery-item dt {
	float: none;
	clear: left;
	width: auto;
	text-align: left;
	font-weight: normal;
	color: #fff;
	white-space: normal;
	overflow: auto;
}
.gallery .gallery-item dt:hover {
	overflow: visible;
}
.gallery .gallery-item dt:after {
	content: none;
}

.wp-caption {
    max-width: 100%;
}
.wp-caption-text,
.gallery-caption {
    font-size: 10px;
    line-height: 1.3em;
    padding: 0 0 0 5px;
    text-align: left;
}


dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
}
dt:hover {
	overflow: visible;
}
dt:after {
	content: ":";
}
dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
}



/*---------------------------*/
/*--------PAGE STUFF--------*/
/*-------------------------*/
.page-image-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;  
	background-position: center; 
	background-repeat: no-repeat;
	z-index: 1;
}
.page-image-container:after {
	content: '';
	display: block;
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	z-index:2;  
	background-color: #000;
}
.page-image-container img {
	display: none;
}
#pageContent {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	max-width: 500px;
	margin-left: -250px;
	z-index: 98;
	font-size: 14px;
	max-height: 65%;
	
	overflow-y: auto;
  	-webkit-overflow-scrolling: touch;
}
#pageContent.with-scrollbar {
	padding-right: 30px;
	margin-left: -240px;
	width: 470px;
}
#pageContent.center-page {
	text-align: center;
}

#page-title {
	font-size: 180%;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	line-height: 1.1em;
}
#page-title:after {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 50px;
	bottom: 0;
	left: 0;
	z-index: 100;
	/*background: #fafafa;*/
	background: #FFDD17;
}
#pageContent.center-page #page-title:after {
	left: 50%;
	margin-left: -25px;
}

.singleVid {
	max-width: 100%;
	margin-bottom: 15px;
	background-size: cover;
	background-position: center;
}

.entry{
	position: relative;
}
.entry.format-gallery {
	border: none; 
	padding-top: 0;
}

/*--ENTRY OL + UL STUFF--*/
.entry ol {
	margin:0 0 1em 0; 
	padding: 0; 
}
.entry ul {
	margin:0 0 1em 20px; 
	padding: 0; 
}
.entry ul li {
	padding:0; 
	list-style-position:outside; 
}
.entry ol li {
	padding:0 0 0 5px; 
	list-style-position:inside; 
}
.entry ol li li {
	padding: 0 0 0 15px;
}

/*--ENTRY P TAG STUFF--*/
.entry p {
	margin: 0 0 1em;
	color: #FFDD17;
	opacity: 0.4;
}

/*--ENTRY H TAG STUFF--*/
.entry h1, 
.entry h2, 
.entry h3, 
.entry h4,
.entry h5,
.entry h6 {
	margin-bottom: 10px; 
	line-height: 1.5em;
	text-transform: uppercase;
}

#post-details {
	text-transform: uppercase;
	font-size: 80%;
	position: relative;
	padding-top: 25px;
	margin-top: 25px; 
}
#post-details:after {
	position: absolute;
	left: 0;
	top: -1px;
	height: 2px;
	width: 50px;
	background: #fafafa;
	content: '';
}

#post-details span {
	margin-right: 20px;
	display: inline-block;
}


/*--POST NAVIGATION--*/
#ajax-content > a[rel="next"],
#ajax-content > a[rel="prev"] {
	display: block;
    font-size: 40px;
    height: 90px;
    margin: -45px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 90px;
    z-index: 1;
}
#ajax-content > a[rel="prev"] {
	right: 0;
	
	right: 50%;
	margin-right: -380px;
}
#ajax-content > a[rel="next"] {	
	left: 0;
	
	left: 50%;
	margin-left: -380px;
}

#ajax-content > a[rel="next"] span,
#ajax-content > a[rel="prev"] span {
    position: absolute;
    top: 50%;
    opacity: 0;
    width: 0;
    height: 0;
    
    opacity: 1;
    margin-top: -4px;
}
#ajax-content > a[rel="next"] span:before,
#ajax-content > a[rel="prev"] span:before,
#ajax-content > a[rel="next"] span:after,
#ajax-content > a[rel="prev"] span:after {
	border-right: 2px solid #fff;
	content: '';
	display: block;
	height: 20px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    
    height: 27px;
    margin-top: -19px;
}
/*NEXT LINK*/
#ajax-content > a[rel="prev"] span {
	/*right: 50px;*/
	right: 40px;
	opacity: .35;

	-webkit-transition:opacity 0.30s linear, right 0.30s linear; 
 	-moz-transition:opacity 0.30s linear, right 0.30s linear; 
 	-o-transition:opacity 0.30s linear, right 0.30s linear; 
 	transition:opacity 0.30s linear, right 0.30s linear; 
}
#ajax-content > a[rel="prev"] span:before {
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#ajax-content > a[rel="prev"] span:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#ajax-content > a[rel="prev"]:hover span {
	right: 40px;
	opacity: 1;
}
/*PREV LINK*/
#ajax-content > a[rel="next"] span {
	/*left: 50px;*/
	left: 40px;
	opacity: .35;
	
	-webkit-transition:opacity 0.30s linear, left 0.30s linear; 
 	-moz-transition:opacity 0.30s linear, left 0.30s linear; 
 	-o-transition:opacity 0.30s linear, left 0.30s linear; 
 	transition:opacity 0.30s linear, left 0.30s linear; 
}
#ajax-content > a[rel="next"] span:before {
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#ajax-content > a[rel="next"] span:after {
    margin-top: -1px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#ajax-content > a[rel="next"]:hover span {
	left: 40px;
	opacity: 1;
}

/*--RESPONSIVE NAV--*/
#pageContent > a[rel="next"],
#pageContent > a[rel="prev"] {
	margin-top: 40px;
	text-transform: uppercase;
	font-size: 12px;
	display: none;
}
#pageContent > a[rel="next"] {
	
}
#pageContent > a[rel="prev"] {
	float: right;
}

/*-----------------------------*/
/*--------FOOTER STUFF--------*/
/*---------------------------*/
#footerContainer {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	text-transform: uppercase;
	z-index: 0;
}
#footer {
	padding: 30px; 
	position: relative; 
	z-index: 1;
}
#footer a {color: #fafafa;}

body.mobile-device #footerContainer {position: relative;}

/*--COPYRIGHT--*/
#footer #copyright {
	display: inline-block;
	font-size: 90%;
	color: #FFDD17;
	/*color: rgba(255,255,255,.3);*/
}
#footer #copyright a {
	border-bottom: 0px solid transparent;
	color: #FFDD17;
	/*color: rgba(255,255,255,.6);*/
	font-weight: 900;
}
#footer #copyright a:hover {
	border-bottom-color: #fff; 
	color: #fff;
}

/*--FOOTER MENU STUFF--*/
#footerMenuContainer {
	float: right; 
	text-align: right;
	font-size: 90%;
}
#footerMenu li {
	display: inline-block;
	margin-left: 15px;
}
#footerMenu li a {
	border-bottom: 0px solid transparent;
	color: #FFDD17; 
	font-weight: 900;
	/*color: rgba(255,255,255,.3);*/
}
#footerMenu li a:hover {
	border-bottom-color: #fff; 
	color: #fff;
}


/*--------------------------*/
/* -----CREDITS STUFF----- */
/*------------------------*/
#vys-credits {
	text-align: center; 
	width: 80%;
	margin: 10px auto 40px;
	max-width: 1000px;
}
#vys-credits span {
	display: inline-block;
	line-height: 1em;
	margin: 0 3px;
	cursor: crosshair;
	color: #FFDD17;
	/*color: rgba(255,255,255,.4);*/
	font-family: 'Six Caps', sans-serif;
	line-height: 1em;
	text-transform: uppercase;
	position: relative;
	font-size: 28px;
}
#vys-credits span:hover {
	color: #fff;
}
#vys-credits small {
	opacity: .8;
}

#footer-logo {
	display: block;
	margin: 0 auto 15px;
	max-width: 100%;
	outline: none;
}
#footer-logo img {
	border-style:none;
}

/*-------------------------*/
/* -----RATING STUFF----- */
/*-----------------------*/
#rating {
	width: 250px;
	height: 35px;
	margin: 15px auto 0;
	border: 2px solid #666;
	border: 2px solid rgba(255,255,255,.4);
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	color: rgba(255,255,255,.4);
}
#rating-letter {
	float: left;
	height: 35px;
	line-height: 35px;
	font-size: 30px;
	width: 33px;
	border-right: 2px solid #666;
	border-right: 2px solid rgba(255,255,255,.4);
	font-weight: bolder;
}
#rating-title {
	width: 215px;
	float: right;
	font-weight: bold;
	border-bottom: 2px solid #666;
	border-bottom: 2px solid rgba(255,255,255,.4);
}
#rating-info {
	width: 215px;
	float: right;
	font-weight: lighter;
	font-size: 90%;
}
/*--G RATING--*/
.g-rating #rating-info {
	line-height: 13px;
}
/*--PG RATING--*/
.pg-rating #rating-letter {
    font-size: 100%;
    height: 19px;
    line-height: 19px;
    border-bottom: 2px solid #666;
    border-bottom: 2px solid rgba(255,255,255,.4);
}
.pg-rating #rating-info {
	width: 100%;
    font-size: 78%;
}
/*--PG-13 RATING--*/
.pg13-rating #rating-letter {
    font-size: 100%;
    height: 19px;
    line-height: 19px;
    border-bottom: 2px solid #666;
    border-bottom: 2px solid rgba(255,255,255,.4);
    width: 42px;
}
.pg13-rating #rating-title {
	width: 206px;
}
.pg13-rating #rating-info {
	width: 100%;
    font-size: 78%;
}
/*--R RATING--*/
.r-rating #rating-info {
    font-size: 55%;
    line-height: 12px;
}
/*--NC-17 RATING--*/
.nc17-rating #rating-letter {
	width: 95px;
}
.nc17-rating #rating-info {
	width: 153px;
	line-height: 12px;
	padding: 5px 0;
}
/*--NO RATING--*/
.no-rating #rating-info {
	line-height: 35px;
	float: none;
	width: 100%;
	font-size: 110%;
	font-weight: normal;
}

/*--------------------------*/
/* -----COMMENT STUFF----- */
/*------------------------*/
#commentsection {
	margin: 60px auto 0; 
	clear: both;
	max-width: 700px;
	text-align: left;
}
#commentsection h3 {
	margin-bottom: 10px;
}
.entry .commentlist {
	width: 100%; 
	list-style:none; 
	margin:0 0 15px;
}
.entry .commentlist .comment {
	list-style:none; 
	padding:15px 0; 
	clear: right;
	position: relative;
}
.entry .commentlist .comment img.avatar {
	width: 45px; 
	height: auto;
    float: left;
    margin: 0 15px 0 0;
}
.entry .commentlist cite,
.entry .commentlist cite a {
	font-style:normal;
}
.entry .comment-body > * {
	text-transform:none;
	margin:10px 0 10px 60px;
}
.entry .comment-body > .comment-author {
	text-transform:none;
	margin:0;
}
.entry .comment-body > .comment-notes,
.entry .comment-body > .commentmetadata {
	display:block; 
	color:rgba(255,255,255,.3); 
	padding:0;
	font-family: 'georgia';
    font-size: 90%;
    font-style: italic;
    margin:0 0 10px;
}


.entry .commentlist .pingback p {
	margin:10px 5px 10px;
}
#commentform p {
	margin:10px 0; 
	clear: left;
}
#commentform label {
	line-height: 35px;
}
cite.fn {
	text-transform:uppercase;
}
.nocomments {
	text-align:center;
}
.logged-in-as {
    font-family: 'georgia',serif;
    font-size: 90%;
    font-style: italic;
}
#commentsection .parent:before {
    background: rgba(255,255,255,.1);
    bottom: 20px;
    content: "";
    display: block;
    left: 20px;
    position: absolute;
    top: 30px;
    width: 4px;
    z-index: -1;
}
#commentsection .children {
	margin-left: 50px;
}

#commentsection .children > li:after {
	content: '';
	display: block;
	height: 4px;
	width: 50px;
	position: absolute;
	top: 35px;
	left: -26px;
	background: rgba(255,255,255,.1);
	z-index: -1;
}


/*--UNUSED STUFF--*/
#recentcomments li,
.alt,
.bypostauthor {

}

/*--REPLY LINK STUFF--*/
.reply {
	position: relative;
}
.reply:after {
	position: relative; 
	content: ''; 
	display: block; 
	clear: both;
}
.comment-reply-link {
	float: right;
}

/*--RESPOND STUFF--*/
#respond {
	margin: 15px 0 0;
}
.commentlist #respond {
	margin: 0 0 30px;
}
#commentsection .required {
	color: red;
}
#commentsection > #respond {
	clear: both;
}
#commentsection > #respond #reply-title {
	font-size: 100%;
    text-transform: uppercase;
}
#commentsection > #respond .comment-form {
}
.commentlist #respond {
    margin: 10px 0 20px 60px;
}
#cancel-comment-reply-link {
	color: red;
    font-size: 90%;
    padding: 0 5px;
    text-transform: uppercase;
}
#cancel-comment-reply-link:hover {
	color: #fff;
}


/*-----------------*/
/*---FORM STUFF---*/
/*---------------*/
input,
textarea {
	background: #333;
	background: rgba(255,255,255,.05);
    border: none;
    font-size: 100%;
    margin: 0;
    padding: 8px 10px;
    width: 250;
    color: #fff;
    color: rgba(255,255,255,.8);
    
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(0,0,0,.5);
}
input:focus, 
textarea:focus {
	border-bottom-color: #fff;
	background-color: #191919;
}
textarea {
	width:95%; 
	height: 130px;
}
input[type="submit"] {
	cursor: pointer; 
	background: #333;
	background: rgba(255,255,255,.1); 
	color:#fff; 
	border: none; 
	display: inline-block; 
	padding: 8px 15px;
	font-size: 12px;
}
input[type="submit"]:hover {
	background: #fff;
	color: #666;
}
/*--COMMENT FORM STUFF--*/
#commentform input[type="text"] {
	float:left; 
	clear:left; 
	margin:0 8px 15px 0;
}
#commentform p.form-allowed-tags {
	line-height:1.3em;
}
#commentform p.form-allowed-tags code {
	font:12px "Courier New";
}


/*----------------------------------*/
/*---------LOADING STUFF-----------*/
/*--------------------------------*/
#loading-page {
    background-size: cover;
    background-position: center;
    background-color: #555;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
#loading-page::after {
    background: rgba(0, 0, 0, 0.65);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    display: block;
}